* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url(assets/Landscape-Background-Transparent.png);
  background-size: cover;
  background-position: bottom;
  padding: 0;
  font-family: "Roboto";
}

.searchContainer {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  margin: 20px;
}

#searchInput {
  background-color: rgb(210, 210, 210);
  text-align: center;
  outline: none;
  border-radius: 10px;
  border: 2px solid black;
  width: 350px;
}

#searchInput:invalid:focus {
  border: 2px solid red;
}

#searchInput::placeholder {
  color: rgb(87, 87, 87);
}

.searchButton {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 15px;
  background-color: rgb(255, 202, 30);
  cursor: pointer;
}

.searchButton:hover {
  background-color: rgb(204, 157, 1);
}

.projectContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.weatherDiv {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.chosenDayInfo {
  display: flex;
  flex-direction: column;
  width: 800px;
  border-radius: 30px;
  background-color: white;
  padding: 25px;
  gap: 40px;
  margin-top: 100px;
}

.dayAndIcon {
  display: flex;
  justify-content: space-between;
}

.dayAndIcon .rightSideFlexContainer {
  display: flex;
  gap: 20px;
}

.temperatureSelector {
  align-self: flex-start;
  background-color: inherit;
  border: 2px solid black;
  border-radius: 9999px;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.temperatureSelector:hover {
  background-color: rgb(215, 215, 215);
}

.weatherImage {
  width: 120px;
  height: auto;
}

.dateAndDay {
  font-size: 1.5rem;
}

.chosenDayMetrics {
  display: flex;
  gap: 20px;
  align-self: center;
  justify-content: space-around;
  width: 100%;
}

.chosenDayMetricContainer {
  display: grid;
  grid-template-columns: repeat(2, fit-content);
  grid-template-rows: 1fr 2fr;
  align-items: center;
  column-gap: 10px;
  justify-items: center;
  row-gap: 5px;
}

.chosenDayMetricContainer.Wind {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.chosenDayMetricContainer.Wind .metricTitle {
  grid-column: 1 / 4;
}

.metricTitle {
  grid-column: 1 / 3;
  font-weight: bold;
  justify-self: center;
}

.windDirectionContainer {
  margin-left: 10px;
  font-weight: bold;
  text-align: center;
}

.temperatureIcon {
  width: 40px;
  height: auto;
}

.droplet,
.umbrella,
.windIcon {
  width: 30px;
  height: auto;
}

.arrow {
  width: 20px;
  height: auto;
}

.metric {
  font-size: 1.2rem;
}

.dayTimeline {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  gap: 20px;
}

.timelineDiv {
  background-color: white;
  border-radius: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.timelineIcon {
  width: 40px;
  height: auto;
}

.timelineDay {
  font-weight: bold;
}

.timelineIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.timelineDiv:hover {
  cursor: pointer;
  background-color: rgb(255, 237, 166);
}

.chosenDayIcon {
  width: 120px;
  height: 120px;
}
